# Firebase Authentication

# Local development (if using service account file)
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Render deployment (paste JSON as one line)
FIREBASE_SERVICE_ACCOUNT_JSON=

FIREBASE_PROJECT_ID=dqklbnaylwqitsvppnbi


# Supabase Database

SUPABASE_URL=https://dqklbnaylwqitsvppnbi.supabase.co

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxa2xibmF5bHdxaXRzdnBwbmJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NDA3MDIsImV4cCI6MjEwMTIxNjcwMn0.FNoRyicjMFcnbdLbsZ4pQORK2b7Oqv3wQDVg0D0Xhcc


# CORS

ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend.vercel.app


PORT=8000
