# Firebase Authentication

# Local development (if using service account file)
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Render deployment (paste JSON as one line)
FIREBASE_SERVICE_ACCOUNT_JSON=

FIREBASE_PROJECT_ID=dqklbnaylwqitsvppnbi


# Supabase Database

SUPABASE_URL=https://dqklbnaylwqitsvppnbi.supabase.co

SUPABASE_KEY=sb_publishable_LGdZAzN6F_Rc3agZ8dBPXA_9-Uxw8x8


# CORS

ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend.vercel.app


PORT=8000
